{% if not currentUser %}
    {% redirect '/login' %}
{% endif %}
{% extends '_shared/_layout.twig' %}

{% block css %}
    <style>
        .main-content {
            padding: 20px;
            margin-bottom: 100px;
        }

        h2 {
            font-size: 24px;
            color: #000;
            margin-bottom: 20px;
            padding-bottom: 10px;
        }
        p {
            font-size: 16px;
            color: #000;
            margin-bottom: 10px;
            line-height: 1.6;
        }

        .main-content div {
            padding: 20px;
            background-color: #FAFAFA;
            text-align: center;
            justify-content: center;
        }

    </style>
{% endblock %}
{% block main %}
{% include '_shared/_header.twig' %}
<main class="main-content">
    <div>
        <div>
            <h2>Thanks for paying!</h2>
            <p>We’re processing it now. 
            Shortly you will receive a 
            confirmation email along with 
            the content you ordered!</p>
            <svg id="Group_224" data-name="Group 224" xmlns="http://www.w3.org/2000/svg" width="110.586" height="106.547" viewBox="0 0 110.586 106.547">
                <g id="Group_223" data-name="Group 223">
                    <path id="Path_41" data-name="Path 41" d="M51.964,14.336a7.687,7.687,0,0,0-6.276,7.306,11.111,11.111,0,0,0,.14,2.2l.187.983-7.774,8.43-7.821,8.43-7.493.14-7.493.14-1.124.656c-1.92,1.124-3.278,3.419-4.074,6.7-.515,2.154-.187,3.325,1.124,3.981.8.421,3.887.468,53.857.468,37.138,0,53.2-.094,53.763-.281,1.545-.562,1.967-1.967,1.311-4.5-.983-3.7-2.857-6.276-5.058-6.838a60.576,60.576,0,0,0-8.008-.281h-6.884l-7.774-8.43c-6.557-7.072-7.774-8.523-7.727-9.085.328-4.121-.094-5.714-2.107-7.727a7.687,7.687,0,0,0-8.2-1.826,8.188,8.188,0,0,0-4.59,4.59,7.687,7.687,0,0,0,1.826,8.2,7.25,7.25,0,0,0,5.479,2.295l1.452.047,5.573,5.995,5.573,5.995H40.771l5.573-5.995,5.573-6.041h1.4a7.323,7.323,0,0,0,5.526-2.295,7.223,7.223,0,0,0,2.295-5.479A7.816,7.816,0,0,0,51.964,14.336Z" transform="translate(-10.004 -14.192)" fill="#e30614"/>
                    <path id="Path_42" data-name="Path 42" d="M27.449,111.121c1.218,7.118,3.138,16.157,4.168,20,3.325,12.13,7.54,18.218,13.347,19.154,1.03.187,8.758.281,21.309.281H85.99l.141-2.154a24.449,24.449,0,0,1,2.154-8.008c.843-1.639.89-1.967.375-1.967-.562,0-2.014-1.4-2.342-2.248a4.908,4.908,0,0,1,.468-3.887,4.263,4.263,0,0,1,6.51-.047l.515.7,1.5-1.218a25.871,25.871,0,0,1,8.008-4.121c2.061-.656,2.482-.7,6.51-.7,3.653,0,4.59.094,5.995.515,1.171.328,1.733.421,1.78.234.375-1.171,2.248-10.444,3.419-17.281l.609-3.372H26.7Zm25.336,8.43a4.051,4.051,0,1,1-4.824,6.51,4.191,4.191,0,0,1,.468-6.838A5.225,5.225,0,0,1,52.786,119.551Zm15.829,0a4.051,4.051,0,1,1-4.824,6.51,4.191,4.191,0,0,1,.468-6.838A5.225,5.225,0,0,1,68.615,119.551Zm15.876,0a4.051,4.051,0,1,1-4.824,6.51,4.191,4.191,0,0,1,.468-6.838A5.253,5.253,0,0,1,84.491,119.551Zm15.829,0a4.051,4.051,0,1,1-4.824,6.51,4.191,4.191,0,0,1,.468-6.838A5.239,5.239,0,0,1,100.32,119.551ZM60.7,131.4a4.051,4.051,0,1,1-4.824,6.51,4.191,4.191,0,0,1,.468-6.838A5.406,5.406,0,0,1,60.7,131.4Zm15.876,0a4.051,4.051,0,1,1-4.824,6.51,4.191,4.191,0,0,1,.468-6.838A5.436,5.436,0,0,1,76.576,131.4Z" transform="translate(-18.881 -63.536)" fill="#e30614"/>
                    <path id="Path_43" data-name="Path 43" d="M179.441,158.032A19.473,19.473,0,0,0,162.3,177.561a19.6,19.6,0,1,0,39.2-.047,19.515,19.515,0,0,0-8.523-16.3A20.992,20.992,0,0,0,179.441,158.032ZM191.9,170.3a3.109,3.109,0,0,1,1.873,2.716c0,.656-.609,1.686-3.138,5.245-1.733,2.435-3.981,5.62-5.011,7.072-1.358,1.92-2.107,2.763-2.763,3.091a6.714,6.714,0,0,1-4.683,0c-.562-.281-2.014-2.014-4.543-5.386-3.325-4.5-3.7-5.058-3.7-5.948,0-.843.141-1.124.983-1.92a7.422,7.422,0,0,1,1.873-1.218c1.545-.515,2.107-.047,4.871,3.7,1.358,1.873,2.576,3.466,2.669,3.559a41.993,41.993,0,0,0,3.981-5.2c2.061-2.95,4.028-5.573,4.309-5.807A2.739,2.739,0,0,1,191.9,170.3Z" transform="translate(-90.976 -90.59)" fill="#e30614"/>
                </g>
            </svg>
        </div>
    </div>
</main>
{% include '_shared/_navigation.twig' %}
{% endblock %}