@use 'variables' as *;

h1, 
.h1 {
    font-family: $ff-titles;
    font-weight: $font-weight--semibold;
    font-size: 3.6rem;
    @media (max-width: 425px) {
        font-size: 2.4rem;
    }
}

h2,
.h2 {
    font-family: $ff-titles;
    font-weight: $font-weight--semibold;
    font-size: 2.8rem;
    @media (max-width: 425px) {
        font-size: 2.1rem;
    }
}

.desc {
    font-family: $ff-texts;
    font-weight: $font-weight--regular;
    font-size: 2rem;
    color: $grey;

    @media (max-width: 425px) {
        font-size: 1.8rem;
    }

    &__link {
        color: $grey;
        &:hover {
            text-decoration: underline;
        }
    }
}