// Settings and variables
@use '_variables' as *;
// Bootstrap
@use "bootstrap/scss/bootstrap";

// Layout
@use '_layout' as *;
@use '_typography' as *;

// Pages
@use 'pages/dashboard' as *;
@use 'pages/instellingen' as *;

// Components
// General
@use 'components/general/container' as *;
@use 'components/general/container-mobile' as *;
@use 'components/general/navigation' as *;
@use 'components/general/mobile-navigation' as *;
@use 'components/general/header' as *;
@use 'components/general/mobile-header' as *;
@use 'components/general/logo' as *;
@use 'components/general/buttons' as *;
@use 'components/general/pager' as *;
@use 'components/general/sortable-items' as *;

// Auth
@use 'components/auth/auth-form' as *;

// Cards
@use 'components/cards/usb-card' as *;
@use 'components/cards/folder-card' as *;
@use 'components/cards/block-card' as *;
@use 'components/cards/notification' as *;

// Popup
@use 'components/popup/modal' as *;

// Forms
@use 'components/forms/actionform' as *;
@use 'components/forms/blokform' as *;
@use 'components/forms/canvaseditor' as *;







