* {
    box-sizing: border-box;

}

html {
    min-height: 100vh;
}
body {
   margin: 0;
   min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    display: grid;
    grid-template-rows: 100px auto 50px;
}
a {
    color: hsl(41, 98%, 30%);
}
h1 {
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 1rem;
}
h2{
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0 0 1rem;
    color:hsl(41, 98%, 50%);
}
img {
    max-width: 100%;
    height: auto;
}

main {
    width: 100%;
    padding: 1rem;
    max-width: 1000px;
    margin: 0 auto;
}

.exams {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.exams .exam {
    display: block;
    border: solid 1px #ccc;
    padding: 1rem;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
}

.exams .exam:hover {
    background: hsl(41, 98%, 90%);
}

.question {
    display: block;
    border: solid 1px #ccc;
    padding: 1rem;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 1rem;
}

.question h2 {
    border-bottom: solid 1px #ccc;
    padding-bottom: 1rem;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    color: hsl(41, 98%, 10%);;
    background: hsl(41, 98%, 50%);
    border: solid 1px hsl(41, 98%, 30%);
    transition: all 0.3s ease;
}
.btn:hover {
    background: hsl(41, 98%, 70%);
    border: solid 1px hsl(41, 98%, 50%);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    background: hsl(41, 98%, 50%);
    padding: 1rem;

}

header .brand {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

}

form.search {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

form input {
    padding: 0.5rem;
    border: solid 1px #ccc;
    border-radius: 5px;
    margin-right: 1rem;
}

textarea {
    width: 100%;
    padding: 0.5rem;
    border: solid 1px #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background: hsl(41, 98%, 90%);
    color: hsl(41, 98%, 20%);
}