@use '../../variables' as *;

.c-blok-form {
  margin-top: 2rem;
  background-color: $black;
  border-radius: 1rem;

  h1 {
    color: $white;
    font-family: $ff-titles;
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  &__section {
    margin-bottom: 2rem;

    &--label {
      display: block;
      font-size: 1.4rem;
      font-family: $ff-titles;
      color: $white;
      margin-bottom: 0.5rem;
    }

    &--input {
      width: 100%;
      background-color: $secondary-color;
      color: $white;
      font-size: 1.6rem;
      border-radius: 0.8rem;
      padding: 0.8rem 1.2rem;
      border: none;

      &::placeholder {
        color: $white;
      }
    }
  }

  &__submit {
    display: block;
    margin: 0 auto;
    padding: 1rem 3rem;
    font-size: 1.6rem;
    background-color: $primary-color;
    color: $white;
    font-weight: bold;
    border-radius: 0.8rem;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: rgba($primary-color, 0.9);
    }

    &:disabled {
      background-color: $grey;
      cursor: not-allowed;
    }
  }
}
