<footer class="c-footer">
    <div class="c-footer__nav">
        <a href="/" class="c-footer__nav--link {% if craft.app.request.url == '/' %}navitem-active{% endif %}">
            <div class="c-footer__nav--item">
                <svg id="house-black-silhouette-without-door" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20.659 20">
                    <path id="Path_103" data-name="Path 103" d="M20.4,14.648a.985.985,0,0,0-.081-1.41L11.086,5.16a1.151,1.151,0,0,0-1.5.017L.321,13.669a.979.979,0,0,0-.045,1.408l.232.242a1.013,1.013,0,0,0,1.39.106l.692-.62v9.077A1.008,1.008,0,0,0,3.6,24.89H7.21a1.008,1.008,0,0,0,1.008-1.008v-6.35h4.606v6.35a.952.952,0,0,0,.947,1.007H17.6a1.008,1.008,0,0,0,1.008-1.008V14.933l.427.375c.235.207.73.041,1.1-.371Z" transform="translate(0 -4.89)" />
                </svg>
                <span>Dashboard</span>
            </div>
        </a>
        <a href="/play-dates" class="c-footer__nav--link {% if craft.app.request.url == '/play-dates' %}navitem-active{% endif %}">
            <div class="c-footer__nav--item">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="20" viewBox="0 0 24.462 17.576">
                    <g id="design-distribution-of-elements-of-an-article" transform="translate(0 -160.25)">
                        <path id="Path_290" data-name="Path 290" d="M71.492,164.649h7.171a1.057,1.057,0,0,1,0,2.11H71.492a1.057,1.057,0,0,1,0-2.11Z" transform="translate(-56.94 -4.283)" fill="#1a2e35"/>
                        <path id="Path_291" data-name="Path 291" d="M167.492,450.85h4.792a1.057,1.057,0,0,1,0,2.11h-4.792a1.057,1.057,0,0,1,0-2.11Z" transform="translate(-152.94 -282.935)" fill="#1a2e35"/>
                        <path id="Path_292" data-name="Path 292" d="M.992,307.75H9.911a1.057,1.057,0,0,1,0,2.11H.992a1.057,1.057,0,0,1,0-2.11Z" transform="translate(13.56 -143.609)" fill="#1a2e35"/>
                        <path id="Path_293" data-name="Path 293" d="M.992,594.05H9.911a1.057,1.057,0,0,1,0,2.11H.992a1.057,1.057,0,0,1,0-2.11Z" transform="translate(13.56 -422.357)" fill="#1a2e35"/>
                        <path id="Path_294" data-name="Path 294" d="M.992,737.15H9.911a1.057,1.057,0,0,1,0,2.11H.992a1.057,1.057,0,0,1,0-2.11Z" transform="translate(13.56 -561.683)" fill="#1a2e35"/>
                        <path id="Path_295" data-name="Path 295" d="M513.887,160.25h8.785a1.538,1.538,0,0,1,1.487,1.583v14.41a1.538,1.538,0,0,1-1.487,1.583h-8.785a1.538,1.538,0,0,1-1.487-1.583v-14.41A1.535,1.535,0,0,1,513.887,160.25Z" transform="translate(-512.4 0)" />
                    </g>
                </svg>
                <span>Play Dates</span>
            </div>
        </a>
        <a href="/drinks" class="c-footer__nav--link {% if craft.app.request.url == '/drinks' %}navitem-active{% endif %}">
            <div class="c-footer__nav--item">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 20.841 26.53">
                    <path id="drink-icon" d="M7,10.345c4,3.083,5.434,1.868,7.727.736,1.757-.864,2.446-1.686,4.581-.82V7.126H7v3.219ZM1.9,1.867a6.376,6.376,0,0,1,9.012,0c.054.054.108.11.16.166l.166.13L7.408,5.993h7.459l.864-2.913a.738.738,0,0,1,.393-.488L19.779.541a.742.742,0,0,1,.723,1.3l-3.4,1.9-.712,2.254h3.5a.473.473,0,0,1,.473.471h0V12.47c0,3.9-2.133,6.928-6.112,7.226v5.488h3.1c.261,0,.471.415.471.674s-.216.674-.471.674h-7.8c-.261,0-.471-.415-.471-.674s.216-.674.471-.674h2.707V19.715c-4.1-.168-6.393-3.239-6.393-7.244V7.526l-3.657,3.66L2.151,11.1h0c-.082-.076-.164-.151-.244-.231a6.376,6.376,0,0,1,0-9.012ZM9.91,2.1A5.523,5.523,0,0,0,2.138,9.877l.4-.4A4.966,4.966,0,0,1,9.507,2.508ZM3.142,8.873,5.214,6.8h-2.9A4.1,4.1,0,0,0,3.142,8.873Zm3.685-3.69L8.9,3.106a4.1,4.1,0,0,0-2.077-.825Zm-4.51.766H5.381L3.222,3.79a4.1,4.1,0,0,0-.9,2.159Zm3.67-.6V2.286a4.1,4.1,0,0,0-2.159.9L5.987,5.343Z" transform="translate(-0.042 -0.002)" />
                </svg>
                <span>Order</span>
            </div>
        </a>
        {# <a href="/notifications" class="c-footer__nav--link {% if craft.app.request.url == '/notifications' %}navitem-active{% endif %}">
            <div class="c-footer__nav--item">
                <svg width="20" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M10,20h4a2,2,0,0,1-4,0Zm8-4V10a6,6,0,0,0-5-5.91V3a1,1,0,0,0-2,0V4.09A6,6,0,0,0,6,10v6L4,18H20Z"/></svg>
                <span>Notifications</span>
            </div>
        </a> #}
        <a href="/profile" class="c-footer__nav--link {% if craft.app.request.url == '/profile' %}navitem-active{% endif %}">
            <div class="c-footer__nav--item">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="style=fill">
                    <g id="profile">
                    <path id="vector (Stroke)" fill-rule="evenodd" clip-rule="evenodd" d="M6.75 6.5C6.75 3.6005 9.1005 1.25 12 1.25C14.8995 1.25 17.25 3.6005 17.25 6.5C17.25 9.3995 14.8995 11.75 12 11.75C9.1005 11.75 6.75 9.3995 6.75 6.5Z" />
                    <path id="rec (Stroke)" fill-rule="evenodd" clip-rule="evenodd" d="M4.25 18.5714C4.25 15.6325 6.63249 13.25 9.57143 13.25H14.4286C17.3675 13.25 19.75 15.6325 19.75 18.5714C19.75 20.8792 17.8792 22.75 15.5714 22.75H8.42857C6.12081 22.75 4.25 20.8792 4.25 18.5714Z" />
                    </g>
                    </g>
                </svg>
                <span>Profile</span>
            </div>
        </a>
    </div>
</footer>
