@use '../../variables' as *;

.c-navbar {
    width: 18vw;
    background-color: $secondary-color;

    &__item {
        font-size: 1.8rem;
        font-weight: $font-weight--bold;

        &--active, &--link {
            color: $white;
            padding: 1rem 0;
            gap: 1.5rem;

            &:active {
                color: $white;
            }
        }
        &--link {
            div {
                width: 6rem;

                i {
                    font-size: 2rem;
                }
            }

            &:hover {
                color: $primary-color;
            }
        }
        
        &--active {
            background-color: rgba($primary-color, 0.05);
            position: relative;

            div {
                width: 6rem;

                i {
                    color: $primary-color;
                    font-size: 2rem;
                }
            }

            &:hover {
                color: $white;
            }

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: .4rem;
                border-radius: 1rem;
                height: 100%;
                background-color: $primary-color;
            }
        }
    }

    &__button {

        padding: 1.5rem;

        &--btn {
            background-color: $primary-color;
            color: $white;

            padding: .5rem 0;
            border-radius: 1rem;
            font-size: 1.8rem;
            font-weight: $font-weight--bold;

            i {
                margin-left: 1.5rem;
            }

            &:hover {
                background-color: rgba($primary-color, 0.8);
            }
        }
    }
}

